<div class="search">
  <div class="search__bar">
    <span class="search__icon"><i class="fas fa-search"></i></span>
    <%= simple_form_for :google_books,
      url: search_google_books_path,
      method: :get,
      data: { controller: "search", turbo_frame: "books-list", turbo_action: "advance"},
      html: { class: "search__form" } do |form| %>
      <%= form.text_field :title,
            placeholder: "Search",
            class: "search__bar-input",
            input_html: { autofocus: true },
            data: {
              search_target: "searchInput",
              action: "input->search#search"
            }
      %>
    <% end %>
  </div>
</div>
