<div class="container container--no_style">
  <div class="header">
    <div class="header__home-page">
      <h1>Your virtual bookshelf</h1>
      <p>Collect, review, and discover new books. Build your collection, and share your passion for reading with the world.</p>
    </div>
  </div>
</div>

<div class="container container--no_style">
  <%= render "search" %>
</div>

<%= render partial: 'books/popular' %>
