<div class="container container--wide container--no_style">
  <%= render "search" %>
</div>

<div class="container container--wide container--no_style">
  <%=
    render(:partial => 'list')
  %>
</div>