.container {
  width: 100%;
  padding: var(--space-m);

  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-container);

  border-radius: var(--borderRadius-medium, 6px);
  border-style: solid;
  border-width: var(--borderWidth-thin, 1px);
  border-color: var(--color-border-color);

  .buttons {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
  }

  &__created_at {
    float: right;
    min-width: 100px;
  }

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
    &__review {
      width: 100%;
      display: flex;
      flex-direction: row;
      &__image {
        filter: drop-shadow(0 0.4em 0.8rem rgba(0, 0, 0, 0.2));
        border-radius: 0 6% 6% 0/1%;
        overflow: hidden;
        margin-top: var(--space-m);
      }
      &__content {
        width: 70%;
      }
    }
  }
  @include media(tabletAndDown) {
    margin-left: 1em;
    margin-right: 1em;
    &__review {
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
      &__image {
        width: 35%;
        margin: auto;
        filter: drop-shadow(0 0.4em 0.8rem rgba(0, 0, 0, 0.2));
        border-radius: 0 6% 6% 0/4%;
        overflow: hidden;
      }
      &__content {
        padding-right: var(--space-m);
        padding-left: var(--space-m);
        padding-bottom: var(--space-m);
      }
    }
  }
}
