.container {
  padding: var(--space-m);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  background-color: var(--color-container);

  border-radius: var(--borderRadius-medium, 6px);
  border-style: solid;
  border-width: var(--borderWidth-thin, 1px);
  border-color: var(--color-border-color);

  &--no_style {
    background-color: var(--color-background);
    border: none;
    padding: 0;
    margin-bottom: 2em;
    width: 100%;
  }

  .buttons {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
  }

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;

    &--no_style {
      padding: 0;
    }
  }
  @include media(tabletAndDown) {
    margin-left: 1em;
    margin-right: 1em;

  }
}
