.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
  &__home-page {
    display: flex;
    gap: var(--space-s);
    flex-direction: column;
    padding: var(--space-s);
    text-align: center;
  }
  &__review-page {
    margin: 0 auto;
    margin-top: 0;
  }
  &__review_header {
    margin-bottom: 0px;
  }
  &__user_books {
    display: flex;
    width: 12em;
    flex-direction: column;
  }

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }
}