<main class="container">

<div class="header">
  <div class="header__home-page">
    <h1>Marketing fluff</h1>
    <p>A blazing fast place to create reviews built with Rails 7 and Hotwire</p>
  </div>
</div>
<%= link_to "Search for books", google_books_url, class: "btn btn--large btn--primary" %>
</main>