<%= turbo_frame_tag "books" do %>
  <div class="search__results">
    <% if books.present? %>
      <%= form.select :book, books, {}, html: { class: "form-select" }, :multiple=> true, data: { action: "change->books#change"} %>
    <% end %>
  </div>
<% end %>