<div class="empty-state empty-state--only-child">
   <p class="empty-state__text">
    You don't have any books yet!
  </p>

  <%= link_to "Add Book",
      google_books_path,
      class: "btn btn--primary",
      data: { turbo_frame: dom_id(Book.new) } %>
</div>