<div class="books">
  <div class="container">
    <div class="review_titles">
      <h1>
        Popular Books
      </h1>
    </div>
    <div class="books__grid_layout">
      <%= render @popular_books %>
    </div>
  </div>
</div>