<%# app/views/reviews/index.html.erb %>

<main class="container">

  <%= render "search" %>

  <%= turbo_frame_tag "selected-books" do %>

  <% end %>

  <%= turbo_frame_tag "books" do %>
    <%= render "books/empty_state" %>
  <% end %>
</main>