.books {
  &__grid_layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    margin-top: 1em;

    li {
      padding: 0.5em;
    }
  }
  &__item {
    grid-column: span 1 / span 1;
    &:hover {
      border: 1px solid #1c62b9;
      box-shadow: 0 0 0 1px var(--color-glint);
      border-radius: var(--borderRadius-medium, 6px);
  }
  }

  &__cover_image {
    width: 220px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
  }

  &__dropdown {
    display: flex;
    flex-direction: row;
    &__select_input {
      display: inline-flex;
      width: 10rem;
      align-items: center;
      border-radius: 0.375rem;
      border-width: 0;
      --tw-bg-opacity: 1;
      padding: 0.5rem 0.75rem;
      font-size: .875rem;
      font-weight: 500;
      line-height: 1rem;
      --tw-text-opacity: 1;
      color: rgb(226 232 240/var(--tw-text-opacity));
    }
  }

  &__type_select {
    overflow: auto;
    position: absolute;
    z-index: 10;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    border-radius: 0.375rem;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --ring-color: #000000;
    --ring-opacity: 0.05;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  @include media(tabletAndUp) {
    &__grid_layout {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      min-width: 55em;
    }
  }

  @include media(tabletAndDown) {
    &__type_select {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}