.books {
  &__grid_layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  &__item {
    grid-column: span 1 / span 1;
  }

  &__cover_image {
    width: 220px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
  }

  &__dropdown {
    display: flex;
    flex-direction: row;
    &__select_input {
      display: inline-flex;
      width: 10rem;
      align-items: center;
      border-radius: 0.375rem;
      border-width: 0;
      --tw-bg-opacity: 1;
      padding: 0.5rem 0.75rem;
      font-size: .875rem;
      font-weight: 500;
      line-height: 1rem;
      --tw-text-opacity: 1;
      color: rgb(226 232 240/var(--tw-text-opacity));
    }

    &__button {
      display: inline-flex;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      line-height: 1rem;
      align-items: center;
      border-radius: 0.375rem;
      border-width: 1px;
      border-color: transparent;
    }

    &__menu {
      display: none;
      position: absolute;
      background-color: var(--color-white);
      box-shadow: var(--shadow-small);
      z-index: 10;
      width: 12rem;
      margin-top: 2.9em;
      border-radius: 0.375rem;
      border-top-width: 1px;
      opacity: 0;
      &__item {
        display: block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        &:hover {
          background-color: var(--color-light);
          transition: filter 250ms, color 200ms;
        }
      }
    }
    .toggled {
      display: block;
      opacity: 1;
      --transform-scale-x: 1;
      --transform-scale-y: 1;
    }
  }

  &__type_select {
    overflow: auto;
    position: absolute;
    z-index: 10;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    border-radius: 0.375rem;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --ring-color: #000000;
    --ring-opacity: 0.05;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    @media (min-width: 640px) {
      font-size: 0.875rem;
    line-height: 1.25rem;
    }
  }
}