.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);

  fieldset {
    border: none;
  }

  &__buttons {
    padding-top: var(--space-xs) ;
    display: flex;
    gap: var(--space-m);
    flex-direction: row;
  }

  &__select_rating_stars {
    display: flex;
    width: 10em;
    flex-direction: row-reverse;
    .fa-star {
      color: #ccc;
      width: 2em;
      height: 2em;
    }

    .selected{
      color:#e87400;
    }

    .fa-star:hover, .fa-star:hover ~ .fa-star {
      color: #e87400;
    }
  }

  &__show_rating_stars {
    display: flex;
    width: 10em;
    .fa-star {
      color: #ccc;
      width: 2em;
      height: 2em;
    }

    .selected{
      color:#e87400;
    }
  }
  &__group {
    flex: 1;
  }

  &__input {
    display: block;
    width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }

    .trix-button-group {
      color: black;
      background: white;
    }
  }

  @include media(tabletAndDown) {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    &__input {
      padding: 0;
    }

    .trix-content {
      width: 17.5em;
      height: 9em;
    }

    #trix-toolbar-1 {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      overflow-x: auto;
      width: 17.5em;
    }

    .trix-button-row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      overflow-x: auto;
    }

    ::-webkit-scrollbar {
        display: none;
    }
  }
}