.navbar_dropdown {
  display: flex;
  &__avatar {
    display: flex;
    flex-direction: row;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 9999px;
  }
  &__image {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
  }

  &__menu {
    position: absolute;
    background-color: var(--color-white);
    box-shadow: var(--shadow-small);
    right: 0;
    z-index: 10;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 2.2em;
    transform-origin: top right;
    width: 12rem;
    border-radius: 0.375rem;
    border-top-width: 1px;
    opacity: 0;

    &__item {
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

  }
  .toggled {
    opacity: 1;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
  }
}