.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-m);
  margin-bottom: var(--space-xxl);
  background-color: (var(--color-nav));
  color: var(--color-text-header);

  &__collections {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__brand {
    font-weight: bold;
    font-size: var(--font-size-xl);
  }

  &__name {
    font-weight: bold;
    margin-left: auto;
    margin-right: var(--space-s);
  }

  &__links {
    margin-right: var(--space-s);
    margin-left: auto;
  }
  &__right {
    margin-left: auto;
  }

  &__center {
    margin: auto;
  }

  @include media(tabletAndDown) {
    width: 100%;
    &__collections {
      display: none;
    }
  }
}