.review {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .review_titles {
    flex-flow: column;
    margin-top: var(--space-m);
    margin-bottom: var(--space-xs);
    h4 {
      color: var(--color-text-muted);
    }
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: var(--space-xs);
  }
}