.search {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: var(--space-s);
  margin-bottom: var(--space-m);
  padding: var(--space-xl);
  &__bar {
    background-color: var(--color-white);
    border-radius: 40px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
  }
  &__results {
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid black;
    border-radius: 12px;
    padding: var(--space-xs);
    select {
      border: none;
      outline: none;
      line-height: 32px;
      width: 100%;
      option {
        padding: 5px;
        &:hover {
          background:#eee;
        }
      }
    }
  }
}