.profile_section {
  display: flex;
  gap: var(--space-m);
  flex-direction: row;
  &__picture {
    object-fit: cover;
    border-radius: 9999px;
    width: 8rem;
    height: 8rem;
  }

  &__username {
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-headers);
    color: var(--color-text-header);
  }

  &__summary {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --space-y-reverse: 1;
    text-align: center;
    text-transform: uppercase;
    flex-direction: row;
    justify-content: center;
    border-left-width: 1px;

    a {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__count {
      display: block;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
    }


    @media (min-width: 768px) {
      margin-top: 0;
      justify-content: flex-end;
    }
  }
}