<%# app/views/reviews/show.html.erb %>

<main class="container">
  <div class="container__review">
    <div class="container__review__image">
       <% if @review.book.image_link %>
        <%= image_tag @review.book.image_link, class: "books__cover_image" %>
      <% else %>
        <%= image_tag "no_cover.gif", class: "books__cover_image" %>
      <% end %>
    </div>
    <div class="container__review__content">
      <div class="trix-content">
        <p><%= @review.content %></p>
      </div>
    </div>
  </div>
  <%= link_to sanitize("&larr; Back to reviews"), reviews_path %>
</main>